body {
  margin: 0;
}
.cad{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.canvas {
  width: 60vw;
  height: 100vh;
  /* width: 1000px;
  height: 100vh; */
}
.menu{
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  height: 100vh;
}
canvas {
  width: 60vw;
  height: 100vh;
  /* width: 1000px;
  height: 100vh; */
}
.logo{
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.logo-title{
  font-weight: 700;
  font-size: 36px;
}

.shape{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.shape-title{
  color: white;
  font-weight: 400;
  font-size: 24px;
}
.shape-option{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
}
/* The container_radio */
.container_radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.container_radio:hover input ~ .checkmark {
  background-color: #7e7e7e;
}

.container_radio input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container_radio input:checked ~ .checkmark:after {
  display: block;
}

.container_radio .checkmark:after {
 	top: 30%;
	left: 30%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.button {
  background-color: #2196F3;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 10px;
}
.action{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.action-title{
  color: white;
  font-weight: 400;
  font-size: 24px;
}
.action-option{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.color{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.color-title{
  color: white;
  font-weight: 400;
  font-size: 24px;
}
.color-option{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width:300px;
	height: 32px;
  margin-top: 10px;
}

.help_button{
  margin-top: 200px;
  background-color: #7e7e7e;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  bottom : 0;
}


.container{
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 0.9;
  background: #222;
  z-index: 40000;
  top:0;
  left: 0;
  overflow: hidden;

  animation-name: fadeIn_Container;
  animation-duration: 1s;
  
}

.modal{
  display:none;
  top: 0;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  position: fixed;
  z-index: 40001;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  margin-top: 30px;
  margin-left: 10%;

  animation-name: fadeIn_Modal;
  animation-duration: 0.8s;
 
}

.header{
  width: 100%;
  height: 70px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid #ccc;
}

.header a{
  text-decoration: none;
  float: right;
  line-height: 70px;
  margin-right: 20px;
  color: #aaa;
}

.content{
  width: 100%;
  height: 200px;
}

form{
    margin-top: 20px;
}

form label{
  display: block;
  margin-left: 12%;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 1rem;
}

form input{
  display: block;
  width: 75%;
  margin-left: 12%;
  margin-top: 10px;
  border-radius: 3px;
  font-family: sans-serif;
}

#first_label{
  padding-top: 30px;
}

#second_label{
  padding-top: 25px;
}


.footer{
  width: 100%;
  height: 80px;
  border-radius: 0px 0px 10px 10px;
  border-top: 2px solid #ccc;
}

.fotter button{
  float: right;
  margin-right: 10px;
  margin-top: 18px;
  text-decoration: none; 
}



/****ANIMATIONS****/

@keyframes fadeIn_Modal {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeIn_Container {
  from{
    opacity: 0;
  }
  to{
    opacity: 0.9;
  }
}
